
# NPM - Node.Js
node_modules
# Composer
/vendor/
# Funcionalidades, ideas, etc.
notas.md
entornoDesarrollo.md
# Source
src/
# Desarrollo
gulpfile.js
# JSON
package.json
package-lock.json
# Variables de entorno
.env
# Base de datos original
uptask2.sql
uptaskOriginal.sql
# Credenciales Heroku
InfoDBHeroku.md
