
# NPM - Node.Js
node_modules
# Composer
/vendor/
# Funcionalidades, ideas, etc.
Notas&Pendientes/
NotaRapida.md
# Source

# Desarrollo
gulpfile.js
# JSON
package.json
package-lock.json
# Variables de entorno
.env


