@use 'base/mixins' as m;
@use 'base/variables' as v;


.confirmar {
    margin-top: 5rem;

    .TaskTrack {
        @include m.textoDegradado(v.$indigo);
    }

    
    .acciones {
        
        justify-content: center;
        a {
            color: v.$indigo;
            margin-top: 7rem;
        }
    }
}