@use 'base/mixins' as m;
@use 'base/variables' as v;

.perfil{
    
    &__enlace {
        color: v.$naranjaOscuro;
        padding: 2rem;
        display: block;
    }
    &__graficos {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 1rem;
        margin: 2rem 0 15rem 0;
    }
    
    &__grafico{
        width: 50%;
        height: 9rem;
        @include m.tablet {
            height: 18rem;
        }

        canvas {
            margin: 0 auto;

        }
    }
    &__contadores {
        
        p {
            text-align: center;
            @include m.tablet {
                font-size: 1.4rem;
            }
            font-size: 1.1rem;

        }
    }
}